<h5>Create Dev Micro App</h5>

<p>Counter {{ counter }}</p>
<br>
<button (click)="increaseCounter()">Increate</button>
<br>
<div class="example-container">
  <div>
    <input matInput placeholder="Input">
  </div>
  <div>
    <textarea matInput placeholder="Textarea"></textarea>
  </div>
</div>
