<!-- Sidebar -->
<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%">
  <h3 class="w3-bar-item">Menu</h3>
  <a [ngClass]="{active: isAppSelected(item) }"  *ngFor="let item of registrations" (click)="selectApp(item.id)" href="#" class="w3-bar-item w3-button">
    {{ item.name }}
  </a>
</div>

<!-- Page Content -->
<div style="margin-left:25%">

  <div class="w3-container w3-teal">
    <h1>Micro Apps</h1>
  </div>

  <div class="w3-container">
    <div *ngFor="let item of registrations" [hidden]="!isAppSelected(item)">
      <h3>{{ item.name }}</h3>
      <div [id]="getDOMElementId(item.id)"></div>
    </div>
  </div>

</div>
